// variables

// colors
$brandColorRed: rgb(239, 65, 54);
$brandColorTaupe: rgb(109,98,94);
$brandColorBlack: rgb(20,19,19);
$brandColorWhite: rgb(255,255,255);

// fonts
$fontHeading: 'Roboto', sans-serif;
$fontBody: 'Lato', sans-serif;

$root-font-size: 18;

// screen sizes
$xsmall: 480px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1824px;